@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

	*{font-family: 'Ubuntu', sans-serif;}

	span{
		line-height: 20px;
		color: #333;
		background-image:repeating-linear-gradient(180deg, transparent, transparent 19px, #333 20px);
		padding-bottom:2px!important;
		display: block;
		flex-grow:9;
	}

	.pr{
		border:2px solid black;
		padding:30px;
		max-width:900px;
		margin: auto;
	}
	
	.pr h1{
    		font-size: 3.5rem;
    		text-align: center;
	}

	.body{
	}
	
	.body .top{
		width: 100%;
		padding:50px;
		display: flex;
		justify-content: space-between;
		box-sizing: border-box;
		flex-wrap: wrap;
	}

	.body .top .photo{
		width:40%;
		order:2;
		margin-bottom: 30px;
	}
	
	.body .top .photo .polaroid{
		width:100%;
		padding-top:6.14%;
		padding-left:6.14%;
		padding-right:6.14%;
		padding-bottom:17.54%;
		box-sizing: border-box;
		border: 2px solid black;
	}
	
	.body .top .photo .polaroid .int-photo{
		width:100%;
		padding-top:100%;
		height:0!important;
		background-size: cover;
		background-position: center center;
	}
	
	.body .top .profile{
		width:55%;
		display: flex;
		flex-wrap: wrap;
		order:1;
	}
	
	.body .top .profile div{
		width:100%;
	}

	.body .top .profile .case,
	.body .top .profile .player,
	.body .top .profile .age,
	.body .top .profile .race,
	.body .top .profile .eyes,
	.body .top .profile .hair{
		width:50%;
	}

	.body .top .profile .case,
	.body .top .profile .player,
	.body .top .profile .name,
	.body .top .profile .surname,
	.body .top .profile .age,
	.body .top .profile .race,
	.body .top .profile .eyes,
	.body .top .profile .hair{
		display:flex;
}
	.body .top .profile .case span,
	.body .top .profile .player span,
	.body .top .profile .name span,
	.body .top .profile .surname span,
	.body .top .profile .age span,
	.body .top .profile .race span,
	.body .top .profile .eyes span,
	.body .top .profile .hair span{
		margin: 0 20px 0 10px;
	}

	.body .top .profile .case span,
	.body .top .profile .player span{
		font-style:italic;
	}
	
	.body>hr{
		width:100%;
		order: 3;
	}
	
	.body .bg{
		padding: 20px 50px 50px;
		width:100%;
		order: 4;
	}
	@media screen and (max-width: 899px){
		.pr{
			max-width: 580;
			margin:10%;
		}
		.body .top .profile,
		.body .top .photo{
			width: 100%;
			order: 1
		}
		.body .top .photo{
			margin-bottom: 30px;
		}
	}
